{
  "plugins": [
    ["prismjs", {
        "languages": ["solidity", "sol", "javascript", "js"],
        "plugins": ["line-numbers"],
        "theme": "default",
        "css": true
    }],
    ["@babel/plugin-transform-class-properties", {
        "loose": true
    }],
    "@babel/plugin-transform-classes"
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.2%", "not dead", "not op_mini all"]
        }
      }
    ]
  ]
}
