.about {
    header {
        border-bottom: 1px solid $black;
        padding: 0 0 1.5rem;

        > a {
            @extend %button-link;
            margin: 2em 0;
        }
    }

    .supporters {
        margin: 2rem 0 4rem;
    }

    .supporter {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        a {
            @extend %button-link;
        }
    }

    @media (min-width: #{$bp-medium}) {
        header {
            padding: 0 0 4rem;

            > * {
                max-width: 60%;
            }

            h1 {
                margin-bottom: 4.36rem;
            }
        }

        .supporters {
            margin: 4rem 0 6rem;
        }

        .supporter {
            flex-direction: row;
            align-items: flex-start;

            h2 {
                width: 25%;
            }

            p {
                width: 55%;
                margin: 1.5rem 0 1rem;

                span {
                    display: inline-block;
                    width: 80%;
                }
            }

            a {
                width: 20%;
                margin: 2rem 0;
                align-self: center;
            }
        }
    }

    @media (min-width: #{$bp-large}) {
        header {
            > * {
                max-width: 40%;
            }
        }

        .supporter {
            h2 {
                width: 15%;
                margin-right: 5%;
            }

            p {
                width: 60%;
            }
        }
    }
}