.about {
    header {
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        padding: 0 0 1.5rem;

        > a {
            @extend %button-link;
            margin: 2em 0;
        }
    }

    @media (min-width: #{$bp-medium}) {
        header {
            padding: 0 0 4rem;

            > * {
                max-width: 60%;
            }

            h1 {
                margin-bottom: 4.36rem;
            }
        }
    }

    @media (min-width: #{$bp-large}) {
        header {
            > * {
                max-width: 40%;
            }
        }
    }
}