.announcement {
    position: relative;

    &:before {
        content: '';
        display: block;
        background-color: var(--body-foreground-color);
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .content {
        position: relative;
        background-color: var(--body-foreground-color);
        color: var(--body-background-color);
        border-left: 4px dotted var(--body-background-color);
        padding: 0 30px;
        max-width: 83.33333333%;

        a {
            @extend %external-arrow-link;
            color:var(--body-background-color);
        }
    }

    @media (max-width: #{$bp-small}) {
        .content {
            padding: 0 15px;
        }
    }
}
