.announcement {
    position: relative;

    &:before {
        content: '';
        display: block;
        background-color: $black;
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .content {
        position: relative;
        background-color: $black;
        color: $white;
        border-left: 4px dotted $white;
        padding: 0 30px;
        max-width: 83.33333333%;

        a {
            @extend %external-arrow-link;
            color: $white;
        }
    }

    @media (max-width: #{$bp-small}) {
        .content {
            padding: 0 15px;
        }
    }
}
