.article {
    margin-bottom: 7rem;

    .content {
        .body {
            h5 {
                @extend .h2;
                margin: 2em auto;
            }

            h6 {
                font-size: var(--body-font-size);
                line-height: 1.5;
            }

            img {
                max-width: 100%;
                margin: 1rem 0 2rem;
            }
        }

        .date {
            span {
                display: inline-block;
                background-color: $black;
                color: $white;
                font-family: 'apercu-mono-regular-pro', sans-serif;
                letter-spacing: 1.5px;
                padding: 10px;
                margin-bottom: 4rem;
            }
        }
    }

    @media (min-width: #{$bp-medium}) {
        margin-bottom: 10rem;

        .col-lg-10 {
            header {
                margin-left: 10%;
            }
        }

        .content {
            display: flex;

            .date {
                width: 10%;
                position: relative;

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-36.5%, 175%) rotate(-90deg);
                    white-space: nowrap;
                }
            }

            .body {
                width: 80%;
            }
        }
    }

    @media (min-width: #{$bp-extra-large}) {
        .col-lg-10 {
            header {
                max-width: 60%;
            }
        }

        .content {
            .body {
                width: 60%;
                margin-left: 0;
            }
        }
    }
}
