button, .button,
input[type="submit"] {
    border: 1px solid $black;
    border-radius: 0;
    padding: 11px;
    white-space: nowrap;
    cursor: pointer;
    background-color: $white;
    text-transform: uppercase;
    text-align: left;
    font-family: 'apercu-mono-regular-pro', sans-serif;
    font-weight: 500;
    font-size: var(--body-font-size);
    letter-spacing: 1.5px;
    line-height: 100%;
    appearance: none;

    &:hover:enabled {
        background-color: $black;
        color: #{$white};
    }

    &:disabled {
        border-color: #{$light-grey};
        color: #{$light-grey};
        cursor: unset;
    }
}

%button-link {
    @extend .button;
    display: block;
    position: relative;
    padding: 11px 20px 11px 11px;
    margin-top: 1em;

    &:after {
        display: inline-block;
        content: ' →';
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
    }

    &[href^=http]:after {
        content: ' ↗';
    }

    @media (min-width: #{$bp-small}) {
        display: inline-block;
        width: 240px;
    }

    @media (min-width: #{$bp-medium}) {
        margin-top: 0;
    }
}

@mixin hide-button-text {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
}
