footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 45px 0 0;
    margin: 0 $gutter-width/2;
    overflow: hidden;
    border-top: 1px solid $black;

    .footer-menu {
        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 40px 0;

            li {
                list-style: none;
                margin: 1rem 0;

                a {
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    font-weight: 500;
                }
            }

            .copyright {
                margin: 60px 0 1rem
            }
        }

        .bottom-menu {
            a {
                letter-spacing: normal;
                text-transform: none;
            }
        }
    }

    @media (min-width: #{$bp-small}) {
        margin: auto $gutter-width 0;
    }

    @media (min-width: #{$bp-medium}) {
        flex-direction: row;
        min-height: 310px;

        .footer-menu {
            flex: 1 100%;
            padding-left: 120px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            ul {
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0;

                li {
                    margin: 0 70px 1em 0;
                }

                
            }
        }
    }

    @media (min-width: 829px) {
        .footer-menu {
            ul {
                .copyright {
                    margin: 0 0 1em auto;
                }
            }
        }
    }
}
