footer {
    background-color: var(--body-foreground-color);
    color: var(--body-background-color);
    padding: var(--baseline-grid-height-2x) 0;

    .col-sm-12 {
        display: flex;
    }

    .footer-logo {
        width: 10%;

        svg {
            transform-origin: top left;
            transform: rotate(-90deg) translate(-100%, 0);

            path {
                fill: var(--body-background-color);
            }
        }
    }

    .footer-menu {
        padding-left: 10px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;

        ul {
            padding: 0;
            width: 37.5%;
            margin: 0;

            li {
                list-style: none;
                margin: var(--baseline-grid-height) 0;

                a {
                    font-family: 'apercu-mono-regular-pro', sans-serif;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    position: relative;
                    white-space: nowrap;

                    &.icon-link {
                        padding-left: 50px;

                        img {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }

                &:first-of-type {
                    margin-top: calc(0.5 * var(--baseline-grid-height));
                }

                &:nth-of-type(2) {
                    a {
                        img {
                            left: -7px;
                            top: 6px;
                        }
                    }
                }
            }

            &:first-of-type {
                width: 25%;
            }
        }
    }

    .copyright {
        margin: calc(2 * var(--baseline-grid-height-2x)) 0 0;
        @extend %p2;
    }

    @media (max-width: #{$bp-large}) {
        .footer-menu {
            padding-left: 10%;

            ul, ul:first-of-type {
                width: 50%;
            }
        }
    }

    @media (max-width: #{$bp-medium}) {
        .footer-menu {
            flex-direction: column;

            ul, ul:first-of-type {
                width: 100%;
                margin-bottom: var(--baseline-grid-height);
            }
        }
    }

    @media (max-width: #{$bp-small}) {
        .col-sm-12 {
            flex-direction: column;
        }

        .footer-logo {
            width: 100%;
            svg {
                transform: none;
            }
        }

        .footer-menu {
            padding-left: 0;

            ul {
                margin: var(--baseline-grid-height) 0 0;
            }
        }

        .copyright {
            margin: var(--baseline-grid-height-2x) 0 0;
        }
    }

    @media (max-width: #{$bp-extra-small}) {
        .footer-logo {
            svg {
                max-width: 100%;
            }
        }
        .footer-menu {
            li {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
