footer {
   background-color: $black;
   color: $white;
   padding: var(--baseline-grid-height-2x) 0;

   .col-sm-12 {
       display: flex;
   }

   .footer-logo {
       width: 10%;

       svg {
            transform-origin: top left;
            transform: rotate(-90deg) translate(-100%, 50%);

            path {
                fill: $white;
            }
       }
   }

   .footer-menu {
       padding-left: 30px;
       width: 90%;
       display: flex;

       ul {
           padding: 0;
           width: 37.5%;
           margin: 0;

           li {
               list-style: none;
               margin: var(--baseline-grid-height) 0;

               &:first-of-type {
                   margin-top: calc(0.5 * var(--baseline-grid-height));
               }

               a {
                   color: $white;
                   font-family: 'apercu-mono-regular-pro', sans-serif;
                   text-transform: uppercase;
                   font-weight: 500;
                   letter-spacing: 1.5px;

                   img {
                       display: inline-block;
                       vertical-align: middle;
                       margin-right: 15px;
                   }
               }
           }

           &:first-of-type {
               width: 25%;
           }
       }
   }

   .copyright {
       margin: calc(2 * var(--baseline-grid-height-2x)) 0 0;
   }
}
