.header {
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0 10px;
        margin: 0 $gutter-width;
        border-bottom: 1px solid $black;

        .logo {
            svg {
                display: block;
            }
        }

       .menu {
            display: flex;
            flex: 1 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 0 22px;
        }

        .menu-label {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            margin: 0;

            > li {
                display: block;
                padding: 22px;

                a {
                    color: $black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 1.5px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.language-dropdown-wrapper {
                    padding: 0 22px;
                }
            }

            &.nav-right {
                > li:last-of-type {
                    margin-right: -22px;
                }
            }
        }

        .mint-button {
            border: 1px solid $black;
            padding: 0.65rem;
            position: relative;
            white-space: nowrap;

            &:hover {
                background-color: $black;
                color: $white;
                text-decoration: none;
            }
        }

        .language-dropdown {
            position: relative;
            top: 4px;

            .dropdown-toggle {
                text-align: center;
                vertical-align: top;
                border: 0;
                padding: 0;
                width: 47px;
                height: 40px;
                background-image: url(../img/speech-bubble.svg);
                background-repeat: no-repeat;
                background-size: contain;

                span {
                    display: inline-block;
                    position: relative;
                    top: -3px;
                    margin-left: 2px;
                }

                &:hover {
                    color: $black;
                    background-color: transparent;
                }

                &:focus {
                    outline: 0;
                }
            }

            .dropdown-menu {
                display: none;
                position: absolute;
                left: 0;
                top: 102%;
                z-index: 10;
                background-color: $white;
                border: 1px solid $black;
                box-shadow: 7px 7px 0 $black;

                ul {
                    display: block;
                    width: 100px;

                    li {
                        padding: 0;

                        a {
                            display: block;
                            padding: 0.5em;

                            &:hover {
                                background-color: $black;
                                color: $white;
                                text-decoration: none;
                            }

                            &.selected {
                                &:after {
                                    content: ' â†';
                                }
                            }
                        }
                    }
                }
            }

            &.open {
                .dropdown-toggle {
                    background-image: url(../img/speech-bubble-black.svg);
                    color: $white;
                }
                .dropdown-menu {
                    display: block;
                }
            }
        }

        .site-repo-link {
            display: block;
            width: 22px;
            height: 26px;
            padding: 10px;
            background-image: url(../components/svgs/Repo.svg);
            background-repeat: no-repeat;
            background-position: center;
            @include hide-button-text;

            &:after {
                display: none;
            }
        }

        @media (max-width: #{$bp-large}) {
            ul {
                > li {
                    padding: 22px 11px;
                }
            }
        }

        @media (max-width: #{$bp-medium}) {
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            padding: 25px 0;

            .logo {
                svg {
                    display: block;
                }
            }

            .menu {
                width: 100%;
                margin: 0;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;

                ul {
                    display: none;
                    flex-direction: column;
                    width: 100%;

                    li {
                        width: 100%;
                        padding: 0;

                        a {
                            display: block;
                            padding: 22px 0;
                        }

                        .mint-button {
                            display: inline-block;
                            padding: 0.5rem;
                            top: 0;
                            margin-bottom: 1rem;
                        }
                    }

                    &.nav-right {
                        > li:last-of-type {
                            margin-right: 0;
                        }
                    }
                }

                &.open {
                    margin: 30px 0 0;

                    ul {
                        display: flex;
                    }
                }
            }

            .menu-label {
                display: block;
                position: absolute;
                top: 10px;
                width: 75px;
                padding: 0;
                margin: 0;
                height: 60px;

                background: white;
                color: black;

                cursor: pointer;
                border: 0;
                @include hide-button-text;

                &:before, &:after {
                    position: absolute;
                    top: 25px;

                    content: '';
                    background: black;

                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                }

                &:before {
                    left: 25px
                }
                &:after {
                    right: 25px
                }

                &.open {
                    background: black;
                    color: white;

                    &:after, &:before {
                        background: white;
                    }
                }
            }
        }

        @media (max-width: #{$bp-small}) {
            margin: 0 15px;
        }

    }
}
