@mixin mobile-nav {
    position: relative;
    flex-direction: column;
    align-items: flex-start;

    .logo {
        svg {
            display: block;
        }
    }

    .menu {
        width: 100%;
        margin: 0;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        ul {
            display: none;
            flex-direction: column;
            width: 100%;

            li {
                width: 100%;
                padding: 0;

                a {
                    display: block;
                    padding: 22px 0;
                }
            }

            &.menu-links {
                > li {
                    &:last-of-type {
                        margin: 12px 0 0;
                    }

                    > a {
                        &:hover,
                        &:active,
                        &.active {
                            &:after {
                                position: static;
                                display: inline-block;
                                vertical-align: middle;
                                margin: -3px 20px 0;
                            }
                        }
                    }

                    &:not(.language-dropdown-wrapper):not(.fork-link-wrapper) {
                        max-width: none;
                    }
                }
            }
        }

        .icon-link {
            text-indent: 0;
            padding: 0 0 0 31px;
            // Padding help with icon text, but we still need to match the
            // padding behavior of the pure-text links, so put that in margin.
            margin: 22px 0;
        }

        .discord-link {
            text-indent: 15px;
        }

        &.open {
            margin: 30px 0 0;

            ul {
                display: flex;
            }
        }
    }

    .language-dropdown-wrapper {
        margin: 22px 0;
    }

    .menu-label {
        display: block;
        position: absolute;
        top: 43px;
        right: -5px;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;

        background-image: url(../img/hamburger-open.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;

        cursor: pointer;
        border: 0;
        @include hide-button-text;

        &:hover {
            background-color: transparent;
        }

        &.open {
            background-image: url(../img/hamburger-close.svg);
        }
    }
}

.header {
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 48px 0 25px;

        font-size: calc(var(--body-font-size) * 0.88);

        .logo {
            svg {
                display: block;

                path {
                    fill: var(--body-foreground-color);
                }
            }
        }

       .menu {
            display: flex;
            flex: 1 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin: 0 0 0 22px;
        }

        .menu-label {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            margin: 0;

            > li {
                display: block;
                padding: 22px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'apercu-mono-regular-pro', sans-serif;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    line-height: 233%;
                    position: relative;
                    white-space: nowrap;
                }

                &.language-dropdown-wrapper {
                    padding: 0 16px 0 22px;
                }
            }

            &.menu-links {
                > li {
                    &:last-of-type {
                        margin-right: -22px;
                    }

                    > a {
                        &:hover,
                        &:active,
                        &.active {
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                bottom: -12px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                border: 1px solid var(--body-foreground-color);
                            }
                        }

                        &:active,
                        &.active {
                            &:after {
                                background-color: var(--body-foreground-color);
                            }
                        }
                    }

                    .discord-link {
                        &:hover,
                        &:active,
                        &.active {
                            &:after {
                                bottom: -4.5px;
                            }
                        }
                    }

                    .fork-link {
                        &:hover,
                        &:active,
                        &.active {
                            &:after {
                                content: none;
                            }
                        }
                    }

                    &:not(.language-dropdown-wrapper):not(.fork-link-wrapper) {
                        max-width: 210px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .language-dropdown {
            position: relative;
            top: 3px;

            .dropdown-toggle {
                text-align: center;
                vertical-align: top;
                border: 0;
                padding: 0;
                width: 61px;
                height: 50px;
                background-image: url(../img/speech-bubble.svg);
                background-repeat: no-repeat;
                background-size: contain;

                span {
                    display: inline-block;
                    position: relative;
                    top: -3px;
                    margin-left: 2px;
                }

                &:hover {
                    background-color: transparent;
                }

                &:focus {
                    outline: 0;
                }
            }

            .dropdown-menu {
                display: none;
                position: absolute;
                left: 0;
                top: 114%;
                z-index: 10;
                background-color: var(--body-background-color);
                border: 1px solid var(--body-foreground-color);
                box-shadow: 7px 7px 0 var(--body-foreground-color);

                ul {
                    display: block;
                    width: 100px;

                    li {
                        padding: 0;

                        a {
                            display: block;
                            padding: 0.38rem 0.5rem;
                            line-height: 100%;

                            &:hover {
                                background-color: var(--body-foreground-color);
                                color: var(--body-background-color);
                                text-decoration: none;
                            }

                            &.selected {
                                &:after {
                                    content: ' â†';
                                }
                            }
                        }
                    }
                }
            }

            &.open {
                .dropdown-toggle {
                    background-image: url(../img/speech-bubble-black.svg);
                    color: $white;
                }
                .dropdown-menu {
                    display: block;
                }
            }
        }

        .icon-link {
            display: block;
            width: 31px;
            height: 31px;
            background-repeat: no-repeat;
            background-position: center;
            @include hide-button-text;
            overflow: visible;
        }

        .discord-link {
            background-image: url(../components/svgs/Discord.svg);
        }

        .fork-link {
            background-image: url(../components/svgs/Repo.svg);

            &:after {
                display: none;
            }

            &:hover {
                text-indent: 0;
                padding: 0 0 0 31px;
            }
        }

        @media (max-width: #{$max-page-width}) {
            :lang(de) &,
            :lang(es) &,
            :lang(pl) &,
            :lang(ru) &,
            :lang(vn) & {
                @include mobile-nav;
            }
        }

        @media (max-width: #{$bp-extra-large}) {
            @include mobile-nav;
        }

        @media (max-width: #{$bp-large}) {
            ul {
                > li {
                    padding: 22px 11px;

                    &.language-dropdown-wrapper {
                        padding: 0 5px;
                    }
                }
            }
        }

        @media (max-width: #{$bp-medium}) {
            padding: 25px 0;

            .menu {
                .menu-label {
                    top: 21px;
                }
            }
        }
    }
}
