.home {
    .hero {
        .row {
            align-items: baseline;
        }

        .quick-links {
            ul {
                padding: 0;
            }

            li {
                list-style: none;
                margin: var(--baseline-grid-height) 0;
            }

            a {
                @extend %button-link;
                margin-top: 0;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media (min-width: #{$bp-medium}) {
                display: flex;
                justify-content: flex-end;
            }

            @media (min-width: #{$bp-small}) {
                li {
                    display: flex;
                    flex-direction: column;
                }

                a {
                    min-width: 342px;
                    width: auto;
                    padding: 11px 30px 11px 11px;
                }
            }
        }

        .sand-dollar-hero {
            width: 100%;
            height: 100%;

            @media (max-width: #{$bp-medium}) {
                margin-top: 30px;
            }
        }
    }
    .features {
        border-top: 1px solid $black;
        margin-top: 6.24rem;

        ol {
            counter-reset: step-by-step;
            list-style: none;

            margin: 0 auto;
            padding: var(--baseline-grid-height-2x) 0;

            li {
                counter-increment: step-by-step;
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0 2% 0 4%;

                > * {
                    margin-top: 0;
                }

                p {
                    margin-bottom: 0;
                    font-family: 'apercu-mono-regular-pro', sans-serif;
                    font-size: 0.89rem;
                    line-height: 175%;
                }

                &:before {
                    content: "0" #{counter(step-by-step)};
                    display: inline-block;
                    font-family: 'apercu-mono-regular-pro', sans-serif;
                    font-size: 0.89rem;
                    line-height: 219%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        @media (max-width: #{$bp-extra-large}) {
            ol {
                li {
                    padding: 0 40px;
                    p {
                        margin-bottom: var(--baseline-grid-height);
                    }
                }
            }
        }

        @media (max-width: #{$bp-medium}) {
            margin-top: 30px;
            padding: 10px 20px 30px;

            ol {
                flex-direction: column;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                padding: 0 30px;

                li {
                    margin: $baseline-grid-height-mobile 0 0;
                    justify-content: left;
                    padding: 0 30px;

                    &:before {
                        left: -20px;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    &:last-of-type {
                        margin: $baseline-grid-height-mobile 0;
                    }
                }
            }
        }

        @media (max-width: #{$bp-small}) {
            ol {
                padding: 0 10px;

                li {
                    margin: 1rem 0;
                }
            }
        }
    }

    .billboard {
        background-color: $black;
        color: $white;
        padding: var(--baseline-grid-height) 0 var(--baseline-grid-height-2x);

        .billboard-button-link {
            @extend %button-link;
            border-color: $white;
            background-color: transparent;
            color: $white;
        }

        .body {
            margin-bottom: 3rem;

            p:last-of-type {
                margin-bottom: 0;
            }
        }

        @media (min-width: #{$bp-medium}) {
            h1 {
                max-width: 70%;
            }

            .body {
                margin-bottom: var(--baseline-grid-height-2x);
                max-width: 40%;
            }
        }
    }

    .latest-news {
        padding: 3.33rem 0;

        .row {
            margin: 0;
        }

        .latest-news-item {
            padding: 0 30px;
            display: flex;
            flex-direction: column;
            border: 1px solid $black;
            position: relative;
            margin-bottom: var(--baseline-grid-height-2x);

            &:last-of-type {
                margin-bottom: 0;
            }

            .date {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $black;
                color: $white;
                font-size: 0.61rem;
                font-family: 'apercu-mono-regular-pro', sans-serif;
                padding: 0 16px;
            }

            h2 {
                margin: 3.89rem 0 1rem;
            }

            a {
                @extend %button-link;
                border-style: solid none none none;
                display: block;
                margin: auto -30px 0 -30px;
                width: calc(100% + 60px);
            }

            p {
                margin: 0 0 calc(2 * var(--baseline-grid-height));
            }
        }

        @media (min-width: #{$bp-medium}) {
            padding: 7rem 0 8rem;
        }

        @media (min-width: #{$bp-large}) {
            .row {
                justify-content: space-between;
            }

            .latest-news-item {
                flex: 0 0 30%;
                max-width: 30%;
                margin: 0;

                h2 {
                    margin-bottom: 0;
                    padding: 0 0 1rem;
                    min-height: 158px;
                }

                p {
                    margin: 0 0 calc(2.5 * var(--baseline-grid-height));
                }
            }
        }

    }

    .tailored-cta {
        position: relative;
        margin-bottom: 6.11rem;

        &:before {
            content: '';
            display: block;
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
            background-color: $black;
        }

        .container {
            position: relative;

            .row {
                align-items: center;
            }
        }

        .side-label {
            position: absolute;
            top: 0;
            color: $white;
            z-index: 10;
            transform-origin: top left;
            transform: rotate(-90deg) translate(-100%, 50%);
            padding: 1rem 0;
            letter-spacing: 1.5px;
            font-family: 'apercu-mono-regular-pro', sans-serif;
            text-transform: uppercase;

            &:after {
                content: '';
                display: inline-block;
                width: 70px;
                height: 1px;
                background-color: $white;
                position: relative;
                top: -5px;
                margin: 0 0 0 21px;
            }
        }

        .tailored-cta-content {
            position: relative;
            z-index: 5;
            background-color: $black;
            color: $white;

            a {
                @extend %button-link;
                color: $white;
                border-color: $white;
                background-color: $black;
                margin-top: calc(var(--baseline-grid-height) / 2);
            }
        }

        .tailored-cta-image {
            background-color: $white;
        }

        --top-padding: calc(3 * var(--baseline-grid-height));
        --bottom-padding: calc(4 * var(--baseline-grid-height));

        &.left {
            &:before {
                left: 0;
            }

            .container {
                background-position: center right;
            }

            .side-label {
                left: 0;
                transform: rotate(-90deg) translate(-100%, 50%);
            }

            .tailored-cta-content {
                padding: var(--top-padding) 8.33% var(--bottom-padding) 16.67%;
            }
        }

        &.right {
            &:before {
                right: 0;
            }

            .container {
                background-position: center left;

                .row {
                    flex-direction: row-reverse;
                }
            }

            .side-label {
                right: 0;
                transform: rotate(-90deg) translate(-100%, 250%);
            }

            .tailored-cta-content {
                padding: var(--top-padding) 16.67% var(--bottom-padding) 8.33%;
            }
        }

        @media (max-width: #{$bp-large}) {
            &:before {
                display: none;
            }

            .tailored-cta-content {
                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    z-index: -1;
                }

                &:before {
                    transform: translateX(-100%);
                }
            }

            &.left,
            &.right {
                .side-label {
                    left: 0;
                    right: auto;
                    transform: rotate(-90deg) translate(-100%, 20%);
                }
            }

            &.right {
                .tailored-cta-content {
                    padding: var(--top-padding) 8.33% var(--bottom-padding) 16.67%;
                }
            }
        }

        @media (max-width: #{$bp-medium}) {
            margin-bottom: 3.33rem;
        }

        @media (max-width: #{$bp-small}) {
            .side-label {
                padding: 0.5rem 0 1rem;
            }
        }
    }

    .integrations {
        padding-bottom: 4em;

        .row {
            margin-left: 0;
            margin-right: 0;

            flex-direction: column;

            a {
                display: inline-block;
                margin: 2rem 0;
                text-align: center;

                .gatsby-image-wrapper,
                > img {
                    max-width: 217px;
                }

                span,
                &:after {
                    display: none;
                }
            }
        }

        @media (min-width: #{$bp-small}) {
            padding-bottom: 7em;

            .section-title {
                margin-bottom: 4rem;
            }

            .row {
                flex-direction: row;
                justify-content: space-between;

                &.uneven {
                    justify-content: space-evenly;
                }

                a {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }

        @media (min-width: #{$bp-large}) {
            padding-bottom: 7em;

            .row {
                flex-wrap: nowrap;

                a {
                    flex: 0 0 auto;
                    max-width: 25%;
                    text-align: center;

                    .gatsby-image-wrapper,
                    > img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
