.home {
    .hero {
        .row {
            align-items: baseline;
        }

        .quick-links {
            ul {
                padding: 0;
            }

            li {
                list-style: none;
                margin: 30px 0;
            }

            a {
                @extend %button-link;
                margin-top: 0;
            }

            @media (min-width: #{$bp-medium}) {
                display: flex;
                justify-content: flex-end;
            }
        }

        .sand-dollar-hero {
            width: 100%;
            height: 100%;

            @media (max-width: #{$bp-medium}) {
                margin-top: 30px;
            }
        }
    }
    .features {
        margin-top: 110px;

        ol {
            counter-reset: step-by-step;
            list-style: none;

            margin: 0 auto;
            padding: 75px 0 145px;

            li {
                counter-increment: step-by-step;
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0 5%;

                > * {
                    margin-top: 0;
                }

                &:before {
                    content: "0" #{counter(step-by-step)};
                    display: inline-block;
                    font-size: 0.857rem;
                    line-height: 2em;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        @media (max-width: #{$bp-medium}) {
            margin-top: 30px;
            padding: 10px 20px 30px;

            ol {
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;
                padding: 0 30px;

                li {
                    margin: 30px 0;
                    justify-content: left;

                    &:before {
                        left: -20px;
                    }
                }
            }
        }

        @media (max-width: #{$bp-small}) {
            ol {
                padding: 0 10px;

                li {
                    margin: 1rem 0;
                }
            }
        }
    }

    .spotlight-launch {
        .row {
            align-items: center;
        }

        .body {
            @extend p;
        }

        .spotlight-button-link {
            @extend %button-link;
            max-width: 100%;
            min-width: 0;
        }

        @media (min-width: #{$bp-large}) {
            h1 {
                padding-right: 40%;
            }
        }
    }

    .latest-news {
        padding: 60px 0 90px;

        .row {
            margin: 0;
        }

        .latest-news-item {
            padding: 1em 0 2em;
        }

        a {
            @extend %button-link;
            max-width: 100%;
            margin-top: 2em;
        }

        @media (min-width: #{$bp-medium}) {
            .latest-news-item {
                border-left: 1px solid $black;
                padding: 0 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &:last-of-type {
                    border-right: 1px solid $black;
                }

                h2 {
                    margin: 0 0 1em;
                    min-height: 2em;
                }

                p {
                    margin-top: 0;
                }

                a {
                    margin-top: 5em;
                }
            }
        }

    }

    .toolkit {
        margin-bottom: 90px;

        .spotlight {
            .row {
                align-items: center;

                .button-link {
                    margin-top: 1em;
                }

                @media (min-width: #{$bp-medium}) {
                    margin-top: 1em;

                    .col-xl-7 {
                        text-align: center;
                    }
                }
            }

            a {
                @extend %button-link;
                margin-top: 2em;
            }
        }
    }

    .integrations {
        padding-bottom: 4em;

        ul {
            padding: 0;
            display: flex;
            flex-direction: column;

            li {
                list-style: none;
                margin: 1em 0;

                a {
                    display: inline-block;
                    @include hide-button-text;

                    &.compound {
                        width: 181px;
                        height: 41px;
                        background-image: url(../components/svgs/compound-logo.svg);
                    }

                    &.uniswap {
                        width: 184px;
                        height: 52px;
                        background-image: url(../components/svgs/uniswap-logo.svg);
                    }
                }
            }
        }

        @media (min-width: #{$bp-small}) {
            padding-bottom: 7em;

            ul {
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
}
