$content-width: 768px;

// Breakpoints
$mobile-width: 768px;


html, body, #root {
    margin: 0;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app {
    flex: 1;
    color: #{$black};
    width: #{$content-width};
    margin: 0 auto;

    @media (max-width: #{$mobile-width}) {
        padding: 40px;
        width: 100%;
        box-sizing: border-box;
    }

    .peanut {
        &.loading {
            svg {
                path {
                    animation: pulse 3s linear infinite;
                }
            }

            @keyframes pulse {
                0% { fill: transparent; }
                50% { fill: #{$purple}; }
                100% { fill: transparent; }
            }
        }

        &.error {
            svg {
                path {
                    fill: #{$alert};
                }
            }
        }
    }

    .page-top {
        margin-bottom: 25px;
    }
}
