$max-page-width: 1440px;
$content-width: 768px;
$gutter-width: 30px;

// Breakpoints
$bp-extra-large: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 576px;

@mixin container-max-100 {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}


html, body, #root {
    margin: 0;
    overflow-x: hidden;
    background-color: $white;
}

.main {
    @media (min-width: #{$bp-small}) {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

.app {
    flex: 1;
    color: #{$black};
    margin: var(--baseline-grid-height) 0 0;

    @media (max-width: #{$bp-small}) {
        margin: var(--baseline-grid-height) auto 0;
    }
}

.container {
    @media (max-width: #{$bp-medium - 1}) {
        @include container-max-100;
    }

    @media (min-width: #{$bp-small}) and (max-width: #{$bp-medium - 1}) {
        @include container-max-100;
    }

    @media (min-width: #{$bp-large}) {
        @include container-max-100;
    }

    @media (min-width: #{$bp-extra-large}) {
        max-width: $max-page-width;
    }
}

.page {
    margin-bottom: 7rem;

    @media (min-width: #{$bp-medium}) {
        margin-bottom: 10rem;
    }
}

.page-header {    
    @media (min-width: #{$bp-medium}) {
        margin-bottom: 5rem;
    }
}

.body {
    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        @media (max-width: #{$bp-small}) {
            table-layout: fixed;
            overflow-wrap: break-word;
            font-size: 0.714rem;
        }

        th,
        td {
            border: 1px solid $black;
            padding: 1em;
            vertical-align: top;
            border-collapse: collapse;
        }

        th {
            text-align: left;
        }
    }
}
