$max-page-width: 1440px;
$content-width: 768px;
$gutter-width: 30px;

// Breakpoints
$mobile-width: 768px;
$bp-extra-large: 1200px;
$bp-large: 992px;


html, body, #root {
    margin: 0;
    overflow-x: hidden;
    background-color: $white;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app {
    flex: 1;
    color: #{$black};
    margin: 0 auto;
}

.container {
    @media (min-width: #{$bp-extra-large}) {
        max-width: $max-page-width;
    }
}
