@import 'fonts/apercu.scss';

$body-font-family: 'apercu-regular-pro', sans-serif;
$body-font-size: 18px;
$body-font-size-mobile: 20px;

$baseline-grid-height: 1.56rem;
$baseline-grid-height-mobile: 1.5rem;

html {
    --body-font-size: #{$body-font-size};
    --baseline-grid-height: #{$baseline-grid-height};
    --baseline-grid-height-2x: #{$baseline-grid-height * 2};

    @media (max-width: #{$bp-small}) {
        --body-font-size: #{$body-font-size-mobile};
        --baseline-grid-height: #{$baseline-grid-height-mobile};
        --baseline-grid-height-2x: #{$baseline-grid-height-mobile * 2};
    }
}

html, body, #root {
    font-family: $body-font-family;
    font-size: var(--body-font-size);
    line-height: 156%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;

    @media (max-width: #{$bp-small}) {
        line-height: 150%;
    }
}

h1, .h1,
h2, .h2 {
    font-family: 'apercu-bold-pro', sans-serif;
    margin: 1rem 0;
}

h1, .h1 {
    font-size: 3.33rem; // 60px
    line-height: 117%;

    @media (max-width: #{$bp-small}) {
        font-size: 2.1rem; // 42px
        line-height: 107%;
    }
}

h2, .h2 {
    font-size: 1.56rem; // 28px
    line-height: 125%;

    @media (max-width: #{$bp-small}) {
        font-size: 1.45rem; // 28.5px
        line-height: 123%;
    }
}

h3, .h3 {
    font-family: $body-font-family;
    font-size: 1.28rem;
    line-height: 1.5;
}

a {
    color: $black;
    text-decoration: none;
    cursor: pointer;

    &[href^=http]:after {
        content: ' ↗';
    }

    .body & {
        text-decoration: underline;

        &:after {
            content: '';
        }
    }
}

%arrow-link {
    &[href^="/"]:after,
    &[href^="#"]:after {
        content: ' →';
    }
}

%external-arrow-link {
    &[href^=http]:after {
        content: ' ↗';
    }
}

.section-title {
    @extend .h1;
    border-top: 1px solid $black;
    padding: var(--baseline-grid-height) 0 0;
    margin-bottom: var(--baseline-grid-height-2x);
}

.body {
    ol, ul {
        margin: 2rem 0 3em;

        li {
            margin: 1rem 0;
            line-height: 1.5;
        }
    }

    ul {
        margin: 2rem 0 3em;

        li {
            list-style: none;
            position: relative;
            padding-left: 32px;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                content: '→';
            }
        }

        @media (max-width: #{$bp-small}) {
            padding-left: 10px;

            li {
                padding-left: 27px;
            }
        }
    }
}
