@import 'fonts/apercu.scss';

$body-font-family: 'apercu-mono-regular-pro', sans-serif;
$body-font-size: 14px;


html, body, #root {
    font-family: $body-font-family;
    font-size: $body-font-size;
}

h1, .h1,
h2, .h2 {
    font-family: 'apercu-bold-pro', sans-serif;
}

h1, .h1 {
    font-size: 3.57rem;
}

h2, .h2 {
    line-height: 1.18;
    margin: 1em 0;
}

p {
    line-height: 1.5;
}

a {
    color: $black;
    text-decoration: none;
    cursor: pointer;
}

.section-title {
    @extend .h1;
    border-top: 1px solid $black;
    padding: 1em 0 0;

    @media (min-width: #{$bp-small}) {
        margin-bottom: 1.8em;
    }
}
