backend:
  name: github
  repo: keep-network/tbtc-website
  site_domain: tbtc.network
  base_url: https://backend.tbtc.network/
  auth_endpoint: netlify/auth
  open_authoring: true

site_url: https://tbtc.network

media_folder: static/img
public_folder: /img

publish_mode: editorial_workflow

collections:
  - name: "news-item"
    label: "News"
    folder: "src/pages/news"
    extension: "md"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    preview_path: "news/{{slug}}"
    fields:
      - {label: "Template Key", name: "template", widget: "hidden", default: "news-item"}
      - {label: "Path", name: "path", widget: "hidden"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list", required: false}

  - name: "resource"
    label: "Resources"
    folder: "src/pages/developers"
    extension: "md"
    create: true
    slug: "{{slug}}"
    preview_path: "developers/{{slug}}"
    fields:
      - {label: "Template Key", name: "template", widget: "hidden", default: "resource"}
      - {label: "Path", name: "path", widget: "hidden"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Heading", name: "heading", widget: "string"}
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Home"
        name: "home"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "home-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/"}
          - {label: "Title", name: "title", widget: "string"}
          - label: "Hero"
            name: "hero"
            widget: "object"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Subtitle", name: "subtitle", widget: "string"}
              - label: "Buttons"
                name: "buttons"
                widget: "list"
                fields: [
                  {label: "Text", name: "text", widget: "string"},
                  {label: "Url", name: "url", widget: "string"}
                ]
                allow_add: false
          - label: "Features"
            name: "features"
            widget: "list"
            fields:
              - {label: "title", name: "title", widget: "string"}
              - {label: "description", name: "description", widget: "string"}
          - label: "Spotlight 1"
            name: "spotlight_1"
            widget: "object"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Side Label", name: "label", widget: "string"}
              - {label: "Body", name: "body", widget: "markdown", required: false}
              - label: "Button Link"
                name: "button"
                widget: "object"
                required: false
                fields: [
                  {label: "Text", name: "text", widget: "string"},
                  {label: "Url", name: "url", widget: "string"}
                ]
          - label: "Spotlight 2"
            name: "spotlight_2"
            widget: "object"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Side Label", name: "label", widget: "string"}
              - {label: "Body", name: "body", widget: "markdown", required: false}
              - label: "Button Link"
                name: "button"
                widget: "object"
                required: false
                fields: [
                  {label: "Text", name: "text", widget: "string"},
                  {label: "Url", name: "url", widget: "string"}
                ]
              - {
                  label: Spotlight Image,
                  name: image,
                  widget: object,
                  fields:
                    [
                      {
                        label: Image,
                        name: image,
                        widget: image,
                        hint: "Minimum image width of 980px required (to be
                        rendered as 490px) to support higher resolution screens.",
                      },
                      { label: Alt, name: alt, widget: string },
                    ],
                }
              - label: "Align Content"
                name: "align"
                widget: "select"
                options: ["left", "right"]
                default: "left"
          - label: "Integrations Section"
            name: "integrations_section"
            widget: "object"
            fields:
              - {label: "Title", name: "title", widget: "string"}
      - file: "src/pages/news/index.md"
        label: "News"
        name: "news"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "news-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/news"}
          - {label: "Title", name: "title", widget: "string"}
      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "about-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/about"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
          - label: "Supporters"
            name: "supporters"
            widget: "list"
            fields: [
              {label: "Name", name: "name", widget: "string"},
              {label: "Description", name: "description", widget: "string"},
              {label: "Url", name: "url", widget: "string"}
            ]
      - file: "src/pages/developers/index.md"
        label: "Developers"
        name: "developers"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "developers-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/developers"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/faq/index.md"
        label: "FAQ"
        name: "faq"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "faq-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/faq"}
          - {label: "Title", name: "title", widget: "string"}
          - label: "Questions"
            name: "questions"
            widget: "list"
            fields: [
              {label: "Question", name: "question", widget: "string"},
              {label: "Answer", name: "answer", widget: "markdown"}
            ]
      - file: "src/pages/privacy-policy/index.md"
        label: "Privacy Policy"
        name: "privacy_policy"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "legal-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/privacy-policy"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/california-privacy-notice/index.md"
        label: "California Privacy Notice"
        name: "california_privacy_notice"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "legal-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/california-privacy-notice"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/terms-of-use/index.md"
        label: "Terms of Use"
        name: "terms_of_use"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "legal-page"}
          - {label: "Path", name: "path", widget: "hidden", default: "/terms-of-use"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}

  - name: "header"
    label: "Header"
    files:
      - file: "src/header/announcement.md"
        label: "Announcement Banner"
        name: "announcement"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "announcement"}
          - {label: "Title", name: "title", widget: "string", required: false}
          - {label: "Body", name: "body", widget: "markdown", required: false, minimal: true}
      - file: "src/header/nav.md"
        label: "Nav"
        name: "header_nav"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "header-nav"}
          - {
            label: "Nav Items",
            name: "nav_items",
            widget: "list",
            allow_add: true,
            fields:
              [
                { label: "Label", name: "label", widget: "string" },
                {
                  label: "URL",
                  name: "url",
                  widget: "string",
                  hint: "Use a relative URL (e.g. /news) if the link is an internal link.",
                },
              ],
            }
          - {
            label: "dApp Link",
            name: "dapp_link",
            widget: "object",
            fields:
              [
                { label: "Label", name: "label", widget: "string" },
                {
                  label: "URL",
                  name: "url",
                  widget: "string",
                },
              ],
            }

  - name: "integrations"
    label: "Integrations"
    files:
      - file: "src/integrations/index.md"
        label: "Integrations"
        name: "integrations"
        fields:
          - {label: "Template Key", name: "template", widget: "hidden", default: "integrations"}
          - {
            label: "Integrations",
            name: "integrations",
            widget: "list",
            allow_add: true,
            fields:
              [
                {label: "Name", name: "name", widget: "string"},
                {label: "URL", name: "url", widget: "string"},
                {
                  label: Logo,
                  name: logo,
                  widget: object,
                  fields:
                    [
                      {
                        label: Image,
                        name: image,
                        widget: image,
                        hint: "Image should be at least the 2x the desired display size",
                      },
                      { label: Alt, name: alt, widget: string },
                    ],
                }
              ],
            }
